 .conteinerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
 } 
  
  .detailContainer {
        display: flex;
        color: whitesmoke;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 80%;
        height: 80%;
        border-radius: 5px;
        background-color: #3b3b3b;
        box-shadow: 
        0 2px 5px #ccc,
        0 6px 10px #ccc;
        margin: 5px;
        margin-top: 20px;
        margin-bottom: 5px;

    }
    
    .nameFlagsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    
    .flagImage {   
        width: 200px;
        height: 150px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        animation: flagFlame 2s infinite alternate;
      }
      
      .flagImage::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 150%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(228, 2, 2, 0.8) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        background-color: rgba(228, 2, 2, 0.8);
        transform: skewX(-15deg) translateX(-25%);
        animation: flameMotion 1s infinite linear;
      }
      
      @keyframes flagFlame {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0);
        }
      }
      
      @keyframes flameMotion {
        0% {
          transform: skewX(-15deg) translateX(-25%);
        }
        50% {
          transform: skewX(15deg) translateX(25%);
        }
        100% {
          transform: skewX(-15deg) translateX(-25%);
        }
      }
      

    .nameContainer {
        margin-left: 20px;
    }
    
    .countriesActivitiesContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        height: 100%;
        width: 100%;
    }
    
    .countriesContainer {
        flex: 0 0 48%;
        padding: 10px;
    }
    
    .activitiesContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20%;
        margin-bottom: 20px;

    }
    
    .activityItem {
        margin-bottom: 20px;
        border: 1px solid #00000088;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
    }
    
    .titleAct {
        font-weight: bold;
        margin: 0;
    }
    
    .activityDetails {
        margin-top: 10px;
    }
    
    .activityDetails span {
        display: block;
        margin-bottom: 5px;
    }

    .img{
        width: 40px;
        height: 40px;
        
    }

    .mapContainer {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 70%;
        color: white;
        font-size: 20px;
    }
    
    .map {
        width: 100%;
        height: 700px;
        align-items: center;
        justify-content: center;
    }
    

.iconMap{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 10px;
    color: #000000;
    font-size: 20px;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}