.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 350px) {
  .container {
    margin-top: 10rem; 
  }
}

@media (min-width: 500px) {
  .socialIcon {
    margin-top: 10rem; 
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 10px; 
  }
}

@media (min-width: 1200px) {
  .container {
    margin-top: 25px; 
  }
}

@media (min-width: 1280px) {
  .container {
    margin-top: 20px; 
  }
}

.subConteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  width: 50%;
  height: 80%;
  margin-top: 0;

}

.p{
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  align-items: center;
}

.mundoImg{
  max-width: 100%;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;

}

.conteinerRedes {
  width: 80px;
  height: 70px;
  padding-bottom: 200px;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: #ccc;
  & svg {
    color: rgb(0, 0, 0);
  }
  &:hover{
    background-color: blueviolet;
  }
}

@media (min-width: 350px) {
  .socialIcon {
    margin-top: 10rem; 
  }
}

@media (min-width: 500px) {
  .socialIcon {
    margin-top: 10rem; 
  }
}

@media (max-width: 768px) {
  .socialIcon {
    margin-top: 10px; 
    margin-bottom: 30px;

  }
}

@media (min-width: 1200px) {
  .socialIcon {
    margin-top: 50px; 
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .socialIcon {
    margin-top: 50px; 
    margin-bottom: 30px;
  }
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40px;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  box-shadow: 
  2px 4px 6px #afb7c5,
  3px 5px 7px #f1f1f1;
  color: #2b2b2b;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover{
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
  }
}

@media (max-width: 768px) {
  .socialButton {
    margin-top: 80px; 
  }
}

@media (max-width: 1024px) {
  .socialButton {
    margin-top: 80px; 
  }
}

@media (max-width: 1280px) {
  .socialButton {
    margin-top: 80px; 
  }
}


.socialButton:focus {
  outline: none;
  background-color: whitesmoke;
}

.socialButton:active {
  background-color: #04f414;
}

.socialMenu {
  display: none;
  position: absolute;
  font-size: 14px;
  margin-top: 15px;
  left: 50%;
  padding-bottom: 50px ;
   
}

@media (max-width: 768px) {
  .socialMenu {
    margin-top: 10px; 
  }
}

@media (max-width: 1024px) {
  .socialMenu {
    margin-top: 20px; 
  }
}

@media (max-width: 1280px) {
  .socialMenu {
    margin-top: 20px; 
  }
}

.socialMenu.open {
  display: flex;
  justify-content: center;
  
}

.socialMenu a {
  margin: 0 3px;
  color: #000;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  transition: transform 0.3s ease;
  position: absolute;
}


.socialMenu .socialIcon {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.socialMenu a:nth-child(1) {
  transform: translateX(-20px);
  right: 10px;
}

.socialMenu a:nth-child(2) {
  transform: translateX(0);
  
}

.socialMenu a:nth-child(3) {
  transform: translateX(20px);
  left: 10px;
}

