.fondo{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(35,174,203,1) 92%);
}

.containerHome {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  
  
}

.filter {
  margin-bottom: 10px;
}


.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}