.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.tittle{
    font-size: 5rem;
    font-weight: 600;
    color: red;
    margin-bottom: 2rem;

}

.button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    color: #fff;
    background-color: #0d6efd;
    margin-top: 50px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 140px;

}