.filterList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

@media (min-width: 350px) {
  .filterList {
    margin-left: auto;
    margin-right: auto;
    
  }
}

@media (min-width: 769px) {
  .filterList {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .filterList {
    margin-right: auto;
    margin-right: auto;

  }
}

@media (min-width: 1280px) {
  .filterList {
    margin-left: auto;
    margin-right: auto;
  }
}

.filterName {
  color: rgb(255, 255, 255);
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (min-width: 350px) {
  .filterName {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) {
  .filterName {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .filterName {
    margin-right: auto;
    margin-right: auto;

  }
}

@media (min-width: 1280px) {
  .filterName {
    margin-left: auto;
    margin-right: auto;
  }
}


.filterTitle{
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva
}


.orderConteiner{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 350px) {
  .orderConteiner {
    margin-left: auto;
    margin-right: auto;
    
  }
}

@media (min-width: 769px) {
  .orderConteiner {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .orderConteiner {
    margin-right: auto;
    margin-right: auto;

  }
}

@media (min-width: 1280px) {
  .orderConteiner {
    margin-left: auto;
    margin-right: auto;
  }
}

.orderList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: black;
}


.orderName{
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva
}

.clear{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
  border: 1px double black;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 350px) {
  .clear {
    margin-left: auto;
    margin-right: auto;
    
  }
}

@media (min-width: 769px) {
  .clear {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .clear {
    margin-right: auto;
    margin-right: auto;

  }
}

@media (min-width: 1280px) {
  .clear {
    margin-left: auto;
    margin-right: auto;
  }
}

