.continentList {
  display: flex;
  flex-direction: column;

}

.filterName {
  color: black;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filterTitle{
  color: #131313;
  top: 3px;
  font-weight: bold;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva
}