.landingContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.button {
  margin-top: 20px;
}

.button button {
  border: none;
  background-color: #2B2D2F;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #4A4C4E;
}

.highlightedButton {
  background-color: #71DFBE;
}