.landingContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/Travel-HM-Hero-1200x500.gif');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;

}

.title {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }


.button {
  margin-top: 20px;
}

.button button {
  border: none;
  background-color: #2B2D2F;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #4A4C4E;
}

