@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.fondo{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 100%;
  width: 100%;
}

.containerHome {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  font-family: Geologica ;
  
}

@media (min-width: 350px) {
  .containerHome {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .containerHome {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .containerHome {
    margin-left: auto;
    margin-right: auto;
  }
}


.buscadorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 400px;
  width: 240px;
  margin-right: 20px;
}


@media (min-width: 350px) {
  .buscadorContainer {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .buscadorContainer {
    height: 200px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .buscadorContainer {
    height: 350px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .buscadorContainer {
    height: 400px;
    width: 240px;
    margin-left: 0;
  }
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  padding: 2px;
  margin-left: 5px;
   
}


.filter {
  margin-top: 20px;
  margin-bottom: 0px;
}

.searchBar{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin-top: 40px;
 margin-left: 10px;
}


@media (min-width: 350px) {
  .searchBar {
    margin-left: 2px;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .searchBar {
    margin-left: 4px;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .searchBar {
    margin-left: 3px;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .searchBar {
    margin-left: 5px;
    margin-right: auto;
  }
}

.clear{
  margin-top: 30px;
}


.cardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto; 
  grid-gap: 1rem;
  margin: 0 auto;
  margin-left: 25%;
  padding-bottom: 2%;
  max-width: 1200px;
  z-index: 1;
}

@media (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3%;
  }
}

@media (min-width: 1280px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 350px) {
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .pagination {
    margin-left: auto;
    margin-right: auto;
  }
}