.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin: auto;
    height: 50vh; 
    text-align: center;
    color: white;
  }

  @media (min-width: 350px) {
    .notFound {
      margin-left: auto;
    }
  }
  
  @media (min-width: 768px) {
    .notFound {
      margin-left: auto;
    }
  }
  
  @media (min-width: 1024px) {
    .notFound {
      margin-left: 100%;

    }
  }
  
  
  .notFound h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  
  .notFound video {
    width: 300px; 
  }

 