 .conteinerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;

 } 

 @media (min-width: 350px) {
  .conteinerPrincipal {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) {
  .conteinerPrincipal {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .conteinerPrincipal {
    margin-right: auto;
    margin-right: auto;

  }
}

@media (min-width: 1280px) {
  .conteinerPrincipal {
    margin-left: auto;
    margin-right: auto;
  }
}
  
.detailContainer {
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background: linear-gradient(to right, #141e30, #243b55);
    box-shadow: 
    0 2px 5px #ccc,
    0 4px 8px #ccc,
    0 6px 10px #aaa9a9;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 5px;

}

    @media (min-width: 350px) {
      .detailContainer {
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    @media (min-width: 769px) {
      .detailContainer {
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    @media (min-width: 1024px) {
      .detailContainer {
        margin-right: auto;
        margin-right: auto;
    
      }
    }
    
    @media (min-width: 1280px) {
      .detailContainer {
        margin-left: auto;
        margin-right: auto;
      }
    }
    
.nameFlagsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
    
    
    @media (min-width: 350px) {
      .nameFlagsContainer {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        padding: auto;
      }
    }
    
    @media (min-width: 769px) {
      .nameFlagsContainer {
        margin-left: auto;
        margin-right: auto;
        padding: auto;
      }
    }
    
    @media (min-width: 1024px) {
      .nameFlagsContainer {
        margin-right: auto;
        margin-right: auto;
        padding: auto;
    
      }
    }
    
    @media (min-width: 1280px) {
      .nameFlagsContainer {
        margin-left: auto;
        margin-right: auto;
        padding: auto;
      }
    }
      
    .flagImage {
      position: relative;
      display: flex;
      width: 200px;
      height: 180px;
      margin-right: 150px;
      animation: moveSide 15s linear infinite;
      transform-origin: top left;
      transform: scale(0.1);
    }
    
    @keyframes moveSide {
      0% {
        transform: translateX(0) scale(0.1);
      }
      25% {
        transform: translateX(5px) scale(0.5);
      }
      75% {
        transform: translateX(-5px) scale(0.8);
      }
      100% {
        transform: translateX(0) scale(1);
      }
    }
    
    @media (min-width: 350px) {
      .flagImage {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: 50px;
      }
    }
    
    @media (min-width: 769px) {
      .flagImage {
        width: 150px;
        height: 100px;
        margin-right: 100px;
      }
    }
    
    @media (min-width: 1024px) {
      .flagImage {
        width: 200px;
        height: 180px;
        margin-right: 150px;
      }
    }
    
    @media (min-width: 1280px) {
      .flagImage {
        width: 200px;
        height: 180px;
        margin-right: 150px;
      }
    }
      

.nameContainer {
  display: flex;
  margin-left: 10px;
  font-size: 25px;
}

@media (min-width: 350px) {
  .nameContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
}
    
@media (min-width: 769px) {
  .nameContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}
    
@media (min-width: 1024px) {
  .nameContainer {
    margin-right: auto;
    margin-right: auto;
    font-size: 20px;
    
  }
}
    
@media (min-width: 1280px) {
  .nameContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.titleCountries{
  font-size: 3rem;
}


@media (min-width: 350px) {
  .titleCountries {
    font-size: 1rem;
  }
}
    
@media (min-width: 769px) {
  .titleCountries {
    font-size: 1.5rem;
  }
}
    
@media (min-width: 1024px) {
  .titleCountries {
    font-size: 2rem;
    
  }
}
    
@media (min-width: 1280px) {
  .titleCountries {
    font-size: 3rem;
  }
}

.countriesActivitiesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    height: 100%;
    width: 100%;
}

@media (min-width: 350px) {
  .countriesActivitiesContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
}
    
@media (min-width: 769px) {
  .countriesActivitiesContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}
    
@media (min-width: 1024px) {
  .countriesActivitiesContainer {
    margin-right: auto;
    margin-right: auto;
    font-size: 20px;
    
  }
}
    
@media (min-width: 1280px) {
  .countriesActivitiesContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.countriesContainer {
    flex: 0 0 48%;
    padding: 10px;
}

.activitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20%;
    margin-bottom: 20px;

}

.activityItem {
    margin-bottom: 20px;
    border: 1px solid #e5e5e5ef;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

@media (min-width: 350px) {
  .activityItem {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
}
    
@media (min-width: 769px) {
  .activityItem {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}
    
@media (min-width: 1024px) {
  .activityItem {
    margin-right: auto;
    margin-right: auto;
    font-size: 20px;
    
  }
}
    
@media (min-width: 1280px) {
  .activityItem {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.titleAct {
    font-weight: bold;
    margin: 0;
}

.activityDetails {
    margin-top: 10px;
}

    .activityDetails span {
        display: block;
        margin-bottom: 5px;
    }

.img{
    width: 40px;
    height: 40px;
    
}

.mapContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
    color: white;
    font-size: 20px;
}

.map {
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
}


.iconMap{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 10px;
    color: #000000;
    font-size: 20px;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.1);
    }
}

.deleteButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}